{% extends 'base.html' %}

{% block title %} Цены {% endblock %}

{% block tables %}
<div class="container">
    <table class="table caption-top">
        <caption></caption>
        <thead>
        <tr>
            <th scope="col">Тип услуги</th>
            <th scope="col">Стоимость</th>

        </tr>
        </thead>
        <tbody>

        {% for service in service_list %}

                <tr>

                    <td>{{ service.category_name }}</td>
                    <td>{{ service.price }}</td>

                </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}