{% extends 'base.html' %}

{% block adress %}
{% endblock %}

{% load services_tags %}
{% block sidebar %}

{% endblock %}

{% block main %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-3 mb-4">
            {% show_categories %}
        </div>
        <div class="row col-md-9">
            {% for step in visits_list %}
            <div class="d-flex justify-content-center col-md-4 mb-4 ps-md-3  ">
                <a href="{{ step.get_absolute_url }}"><img src="{{ step.photo_after.url }}"
                                                           class="img-fluid img-thumbnail d-flex justify-content-center" width="304"
                                                           height="236"/></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

